# TADPO defaults
WEBAPP_ADDR=:8081
VITE_ANIMATION_DELAY_MS=450
POSTGRES_DSN="postgres://admin:admin123@localhost:5432/ppo_tadpo?sslmode=disable"
OPENAI_MODEL=gpt-4o-mini
OPENAI_BASE_URL=https://api.openai.com/v1/chat/completions
